header {
	display: block;
	width: 100%;
}

/* Banner */

.hero-image {
	background-image: url("img/blog-banner.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 350px;
}

/* Menu design */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #32a1bd;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 20px 150px;
	text-decoration: none;
}

li a:hover {
	background-color: #1f6374;
}

li {
	float: left;
}

/* Font */

body, html {
	font-family: 'Helvetica', sans-serif;
	margin: 0;
	font-size: 20px;
}

/* Title1 */

h1 {
	margin: 0.5em;
	font-size: 2em;
}

/* Title2 */

h2 {
	margin: 1em;
	font-size: 1em;
}

/* Paragraphs */

p {
	margin: 1em;
	line-height: 1.4em;
}

/* Image box */

figure {
	padding: 0.5em;
	margin: 0 1em 0em 1em;
	float: left;
	width: 25%;
	border: 1px solid rgb(0, 0, 0);
}

img {
	width: 100%;
}

figcaption {
	font-size: 85%;
}

/* Image box when on phone */

@media screen and (max-width: 900px) {
	figure {
		width: 80%;
		margin: 1em;
	}
}

/* Links */

main a {
	color: #237488;
	text-decoration: none;
}

main a:hover {
	color: #8d2a2a;
	text-decoration: underline;
}

/* Footer */

footer {
	background-color: #32a1bd;
	padding: 0.2em;
	clear: both;
	font-size: 16px;
}

footer p {
	color: white;
	text-align: center;
	margin: 0.2em;
}

footer img {
	width: 16px;
}

/* News images */

.news img {
	width: 12%;
	float: left;
	padding: 0.5em;
	margin: 0 1em 0.5em 0.5em;
}

/* News title */

.news h2 {
	margin: 0.5em 1em;
	font-size: 1.4em;
	color: #1f6374;
}

/* News line */

.news hr {
	margin: 1em;
	border: 1px solid #32a1bd;
	clear: both;
}

/* News date */

.news time {
	font-size: 85%;
	font-style: italic;
}


