header {
	display: block;
	width: 100%;
}

body, html {
	font-family: 'Helvetica', sans-serif;
	margin: 0;
	font-size: 20px;
}

.hero-image {
	background-image: url("img/blog-banner.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 350px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #2d90a8;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 20px 160px;
	text-decoration: none;
}
li a:hover {
	background-color: #1f6374;
}

li {
	float: left;
}